@import './../../colors/colors';

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

@keyframes skeleton {
  0% {
    background: linear-gradient(30deg, $black_400 30%, white 0%, $black_400 30%);
  }

  100% {
    background: linear-gradient(30deg, $black_400 30%, white 100%, $black_400 30%);
  }
}

.coinsData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;

  .coinsMainContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;



    tr:nth-child(even),
    thead tr:first-child {
      border-radius: 7px;
      background-color: $black_900;
    }

    thead tr:first-child {
      color: $black_500;
    }

    .coinContainer {
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .coinDataHead {
        display: flex;
        justify-content: space-between;
      }

      .loader {
        height: 12px;
        position: relative;
        overflow: hidden;
        background-color: $black_300;
        z-index: 1;

        &::after {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          background-repeat: no-repeat;
          background-image: linear-gradient(90deg,
              $black_300,
              white,
              $black_300);

          transform: translateX(-100%);

          animation: react-loading-skeleton 1.5s ease infinite;
        }
      }

      .loader1 {
        width: 29px;
        height: 29px;
        border-radius: 25px;
        // background-color: $black_300;
      }

      .loader2 {
        width: 120px;
        margin: 0 10px;
        border-radius: 5px;
        // background-color: $black_300;
      }

      .loader3 {
        width: 150px;
        margin: 0 10px;
        border-radius: 5px;
        // background-color: $black_300;
      }

      .loader4,
      .loader5,
      .loader6 {
        width: 125px;
        border-radius: 5px;
        // background-color: $black_300;
      }

      .loader7 {
        width: 66px;
        height: 29px;
        border-radius: 12px;
      }

      .coinData,
      .coinDataHead {

        width: 125px;
        display: flex;
        align-items: end;
        white-space: nowrap;

        &.coinNameData {
          display: flex;
          align-items: center;

          .coinName {
            align-self: flex-end;
          }

          .coinImage {
            width: 25px;
            margin: 0 10px 0 0;
          }

          .coinSymbol {
            text-transform: uppercase;
            font-size: .8rem;
            margin: 0 8px;
            color: $black_500;
          }

        }

        .coinTradeAction {
          background-color: #829bb11a;
          color: #0061ff;
          padding: 7px 15px;
          border: none;
          border-radius: 10px;
          transition: .15s;

          &:hover {
            background-color: #8e979f42;
          }
        }

        &.priceDown {
          color: $red_500;
        }

        &.priceUp {
          color: $green_400;
        }

        &.priceStatic {
          color: $black_600;
        }

        .coinPriceArrow {
          margin: 0 10px 0 0;
        }

        &:first-child {
          width: 10px;
        }

        &:last-child {
          width: 80px;
        }

        &:nth-child(2) {
          width: 230px;
        }
      }
    }
  }
}